<div class="card bg-light">
  <article class="card-body mx-auto">
    <h2 class="card-title">Iryna Thompson</h2>
    <h3 class="card-title">Education</h3>
    <p class="card-text">Bachelor of Technology (B.Tech), Software Development,<br>
      Seneca College of Applied Arts and Technology, Toronto.</p>
    <p class="card-text">Computer Programming and Analysis Coop Advanced Diploma, <br>
      Seneca College of Applied Arts and Technology, Toronto.</p>
    <p class="card-text">Business Analysis Certificate,<br>
      Seneca College of Applied Arts and Technology, Toronto.</p>
    <p class="card-text">DataBase Orracle/Java Developer Certificate,<br>
        Seneca College of Applied Arts and Technology, Toronto.</p>  
    <p class="card-text">C, C++, C#, Java, Python, JavaScript, Mobile / Web Development and Test Automation.</p>
  </article>                                                   
</div>