<footer class="page-footer font-small">
    <!-- Footer Links -->
    <div class="container">
      <hr class="rgba-white-light">
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="https://www.linkedin.com/in/irynathompson" target="_blank">Linked In</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <address>
              <a href="mailto:ithompson4@myseneca.ca">Send Email</a>
            </address>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="https://github.com/ithompson4" target="_blank">My GitHub</a>
          </h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
  
      <hr class="rgba-white-light">
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="float-right">
      <a href="#">Back to top</a>
    </div>
    <div class="footer-copyright text-center py-3">&copy; 2020 All rights reserved. Design by Iryna Thompson</div>
    <!-- Copyright -->
  
  </footer>