<div class="card bg-light">
  <article class="card-body mx-auto">
    <h3 class="card-title mt-3">Why AngularJS?</h3>
    <div>
      <ul>
        <li>One of the most popular JavaScript frameworks</li>
        <li>Simplifies front-end development experience</li>
        <li>Great for a robust and scalable solution</li>
        <li>Complete client-side solution</li>
        <li>Great framework for building interactive elements and components</li>
        <li>Less coding for developers</li>
        <li>Easy testing</li>
      </ul>
    </div>
  </article>                                                   
</div>